.ipynb_checkpoints
.git
.idea
.vscode
.pycharm
__pycache__
models.config

# exclude everything
dataset/*
# exception to the rule
!dataset/requirements.txt
training/PlantVillage.zip
training/dataset/
training/PlantVillage/*

frontend/
